<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>PS</title>
</head>

<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href = "index.html">PS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/professor">Professor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deansofficeemployee">Deans Office Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faculty">Faculty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adress">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/studentclasses">Grade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group">Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/specialization">Specialization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/term">Term</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/class">Classes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</body>
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
          background-image: url('https://wns.ug.edu.pl/sites/default/files/_nodes/strona-wns/67479/files/wns_studiuj.jpg');
          height: 500px;
          margin-top: 58px;
        "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Student's Portal</h1>
                    <h4 class="mb-3">University of Gdansk</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                    >University of Gdansk shares its knowledge.</a
                    >
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Background image -->
</header>


<center>

    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2>#NEWS</h2>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://images.ctfassets.net/9htf9uzhsn4z/1c94be1u8nvK7vVhn1l4FK/8814fe029cb68a61cb57aaba3b50e0bc/lulu-book-linen-black-foils-thumb-16-9.jpg?q=70&fm=webp"  width="400" height="400">
                    <p><strong>#UGStudent</strong></p>
                    <p>We are stating new cycle "Lesson on UG"</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSYXUbUrWtMDv4hovWCFgzgnxcj67FCDxVwA&usqp=CAU" width="400" height="300">
                    <p><strong>Basketball</strong></p>
                    <p>Our team has won the first prize.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://media.wired.com/photos/5f592bfb643fbe1f6e6807ec/16:9/w_2400,h_1350,c_limit/business_chess_1200074974.jpg"  width="400" height="300">
                    <p><strong>Chess</strong></p>
                    <p>"Playing chess is now cool"~Students from UG</p>
                </div>
            </div>
        </div><br>
    </div>
</center>
<div
        class="p-5 text-center bg-image"
        style="
          background-color: WhiteSmoke;
          height: 350px;
          margin-top: 58px;
        "
>
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Gdansk,UG</p>
            <p><span class="glyphicon glyphicon-phone"></span> +48 238 233 231</p>
            <p><span class="glyphicon glyphicon-envelope"></span> ug@edu.pl</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<center>



</body>
</center>
</html>