<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="styl.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
<meta charset="utf-8">
<title>PS</title>
</head>
<body>
<header><center>
<h1>PS Management System</h1>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3"> PS </a>
<a th:href = "@{/student}" class="btn btn-primary btn-sm mb-3"> Student </a>
<a th:href = "@{/professor}" class="btn btn-primary btn-sm mb-3"> Professor </a>
    <a th:href = "@{/admin}" class="btn btn-primary btn-sm mb-3"> Admin </a>
    <a th:href = "@{/deansofficeemployee}" class="btn btn-primary btn-sm mb-3"> DeansOfficeEmployee </a>
    <a th:href="@{/faculty}" class="btn btn-primary btn-sm mb-3"> Faculty </a>
<center>
</header>
<p></p>
<center>
<img src="https://campustechnology.com/-/media/EDU/CampusTechnology/2021-images/20210121collegestudents.jpg" width="800px" heigh="400px">
 <p></p>
<footer>
Projekt Zespołowy-Alicja Olejnik i Julia Komorowska
</footer>
</center>