<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href = "/">PS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/professor">Professor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deansofficeemployee">Deans Office Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faculty">Faculty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adress">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/studentclasses">Grade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group">Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/specialization">Specialization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/term">Term</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
          background-image: url('https://ug.edu.pl/sites/ug.edu.pl/files/_nodes/strona/97498/images/ug2.jpg');
          height: 400px;
          margin-top: 58px;
        "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Student's Portal</h1>
                    <h4 class="mb-3">University of Gdansk</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                    >UG shares its knowledge</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
<table class="table  table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Address</th>
        <th scope="col">Specialization</th>



        <th scope="col">Delete</th>
        <th scope="col">Update</th>
        <th scope="col">Details</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${allStudentsFromDB}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${#strings.listJoin(student.degree, ',')}"></td>
        <td th:text="${student.adress}"></td>
        <td th:text="${student.specialization.name}"></td>
        <td><a th:href="@{/deleteStudent/{id}(id=${student.id})}" >Delete</a></td>
        <td><a th:href="@{/showFormForUpdateStudent/{id}(id=${student.id})}">Update</a></td>
        <td><a th:href="@{/student/{id}(id=${student.id})}">See details</a></td>
    </tr>
    </tbody>
</table>
<center>
<h2><a  th:href = "@{/showNewStudentForm}" color="black"> New Student</a></h2>
</center>
<center>
    <h1><a  th:href = "@{/studentclasses}" color="black"> Student Classes</a></h1>
</center>

</body>
</html>