<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Professor Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>
<center>
<a th:href = "@{/}" class="btn btn-primary btn-sm mb-3"> PS </a>
	<a th:href = "@{/student}" class="btn btn-primary btn-sm mb-3"> Student </a>
	<a th:href = "@{/professor}" class="btn btn-primary btn-sm mb-3"> Professor </a>
	<a th:href = "@{/admin}" class="btn btn-primary btn-sm mb-3"> Admin </a>
	<a th:href = "@{/deansofficeemployee}" class="btn btn-primary btn-sm mb-3"> DeansOfficeEmployee </a>
	<a th:href="@{/faculty}" class="btn btn-primary btn-sm mb-3"> Faculty </a>
<p></p></center>
	<div class="container my-2">
	<h1>Professors List</h1>

	
	<a th:href = "@{/showNewProfessorForm}" class="btn btn-primary btn-sm mb-3"> Add Professor </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/pageprofessor/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							Professor First Name</a>
					</th>
					<th>
					<a th:href="@{'/pageprofessor/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
							Professor Last Name</a>
					</th>
					<th>
					<a th:href="@{'/pageprofessor/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
							Professor Email</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="professor : ${listProfessors}">
					<td th:text="${professor.firstName}"></td>
					<td th:text="${professor.lastName}"></td>
					<td th:text="${professor.email}"></td>
					<td> <a th:href="@{/showFormForUpdateProfessor/{id}(id=${professor.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteProfessor/{id}(id=${professor.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageprofessor/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageprofessor/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageprofessor/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>